{% extends "base.twig" %}
{% block content %}
<div class="Container">
	<h1>404</h1>
	<p>Not found</p>
	<article>
		<h1>We were unable to find what you are looking for.</h1>
		<a href="{{ site.link }}">Lions, and tigers, and bears! Oh, my!</a>
	</article>
</div>
{% endblock %}